body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}



.section1, .section2, .section3, .section4 {
    display: flex;
    flex: 1;
}

.section1 {
    background-color: #1F2938;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
}
.section2 {
    background-color: white;
    flex-direction: column;
    align-items: center;
    max-height: 280px;
}
.section3 {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.section4 {
    background-color: white;
}



.header-container {
    display: flex;
    padding: 0px 80px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.header-logo, .header-links ul {
    display: flex;
}
.header-logo {
    font-size: 16px;
    padding: 16px;
    color: #f9faf8;
}
.header-links ul {
    gap: 24px;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
ul {
    list-style-type: none;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.content-right {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    height: 150px;
}

.content-left h1{
    color: white;
    margin-top: -20px;
}
.content-left p{
    color: snow;
    max-width: 432px;
}



.box-container,.subtext-container, .title-s2, .box {
    display: flex;
}
.title-s2 {
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 22px;
}
.box-container {
    gap: 50px;
}
.box {
    background-color: white;
    width: 98px;
    height: 98px;
    border: 2px solid lightblue;
    border-radius: 25px;
}
.subtext-container {
    justify-content: center;
    gap: 51px;
    margin-bottom: 0;
}
.subtext-s2 {
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
    width: 100px;
    height: 100px;
}


.testimonial-container {
    margin-top: 20px;
}
.testimonial-s3 {
    font-size: 24px;
    font-style: italic;
    max-width: 415px;
    margin-bottom: 12px;
}
.testimonial-name {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}
